<div class="session_index_body">

  <div class="session_index_title">
    <h1>セッション一覧</h1>
  </div>

  <div class="session_index_search">
    <form>
      <input type="text">
      <input type="submit" value="検索">
    </form>
  </div>

  <div class="session_index_link_sounds">
    <%= link_to "サウンド一覧へ", sessions_path %>
  </div>

  <% @session.each do |session| %>
    <%= render partial: "session_index_content", locals: {session: session} %>
  <% end %>
</div>