<div class="session_index_body">

  <div class="session_index_title">
    <h2>セッション一覧</h2>
  </div>

  <div class="session_index_search">
    <form>
      <input type="text">
      <input type="submit" value="検索">
    </form>
  </div>

  <% @session.each do |session| %>
    <%= render partial: "session_index_content", locals: {session: session} %>
  <% end %>
</div>