<div class="middle-content">
      <div class="sound-tweet">
        <div class="user-name">
          
        </div>
        <div class="sound-explain">
        
        </div>
        <div class="favo">★</div>
      </div>

      <div id="audio-wrap" class="audio-wrapping">
        <div><span>オールプレイ・オールストップボタン</span></div>
        <input id="audio-play" type="button" value="PLAY"><input id="audio-pause" type="button" value="PAUSE">

      </div>

      <div class="sound-content">
        <% @sound.each do |s| %>
          <p class="sound-name"><%= s.user.name %>さんの投稿</p> 
          <p><%=link_to s.title, sound_path(s.id) %></p> 
          <p class="sound-exp"><span>説明:</span><%= s.explain %></p> 
          <%= audio_tag(s.file.url, autoplay: false, controls: true) %>
        <% end %>
      </div>
    </div>