
<div class="mypage_edit_contents">
    

    <div class="mypage_edit_content">

      <div class="mypage_edit_title">
        <h1>マイページ編集</h1>
      </div>

      <div class="mypage_edit_info">

        <div class="mypage_edit_icon">
          アイコン
        </div>

        <div class="mypage_edit_bg_image">
          背景画像
        </div>
        <div class="mypage__edit_nickname">
          ニックネーム
        </div>
        <div class="mypage_edit_profile">
          プロフィール
        </div>
        <div class="mypage_edit_back_button">
          <a href="#">マイページへ戻るボタン</a>
        </div>
      </div>

    </div>

</div>
