
    <div class="mypage_content">

      <div class="mypage_header">

        <div class="mypage_info">
          <div class="mypage_icon">
            アイコン入れる
          </div>
          <div class="mypage_nickname">
            自分のニックネーム
          </div>
          <div class="mypage_edit">
            <a href="#">マイページの編集ボタン</a>
          </div>
          <div class="mypage_profile">
            プロフィールをここ表示する
          </div>
          <div class="mypage_follow">
            フォロー数
          </div>
          <div class="mypage_follower">
            フォロワー数
          </div>
        </div>
      

        <div class="mypage_menu">
          <div class="mypage_dm">
            <a href="#">DMページに遷移するリンク</a>
          </div>
          <div class="mypage_fav_sound">
            <a href="#">自分のお気に入りした曲一覧へのリンク</a>
          </div>
          <div class="mypage_fav_session">
            <a href="#">自分のお気に入りしたセッション一覧へのリンク</a>
          </div>
        </div>

      </div>

      <div class="mypage_body">
        <div class="mypage_sound">
          自分の投稿したサウンド一覧
        </div>

        <div class="mypage_session">
          自分がチョイスしたセッション一覧
        </div>
      </div>

    </div>