<div class="mypage_edit_contents">
    

    <div class="mypage_edit_content">

      <div class="mypage_edit_title">
        <h1>マイページ編集</h1>
      </div>

      <div class="mypage_edit_info">
        <%= render partial: "mypage_edit_form", locals: {mypage: @mypage} %>
      </div>

    </div>

</div>
