<div class="dm_contents">

    <div class="dm_list">
      <div class="dm_friend_search">
        <input type="text" name="" value="検索する名前を入れてください" class="dm_search_text">
        <input type="submit" value="検索" class="dm_search_submit">
      </div>

      <div class="dm_new">
        <a href="#">新しいメッセージ</a>
      </div>

      <% @user_room.each do |user_room|%>
        <% if user_room[:user_id] != current_user.id %>
          <div class="dm_friend_content">
            <div class="dm_friend_icon">
              アイコン
            </div>
            <div class="dm_friend_name">
              <%= @user.find(user_room[:user_id]).name %>
            </div>
            <div class="dm_friend_last_time">
              2020年2月10日 
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="dm_messages">

      <div class="dm_message_me">
        <div class="dm_message">
          会話の内容が表示される
        </div>
        <div class="dm_message_time">
          2021年2月10日 17:50
        </div>
      </div>
      <div class="dm_message_you">
        <div class="dm_message">
          会話の内容が表示される
        </div>
        <div class="dm_message_time">
          2021年2月10日 17:50
        </div>
      </div>

      <div class="dm_message_input">
        <input type="text" name="" value="メッセージを作成" class="dm_message_text">
        <input type="submit" value="送信" class="dm_message_submit">
      </div>
    </div>

  </div>
