<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Gig</title>
</head>
<body>
  <header>
    <div class="logo"></div>

    <div class="signin-button">
      <!-- 未ログインなら以下を表示 -->
      <div class="log-in">
        <a href="#" class="button">ログイン</a>
      </div>
      <div class="sign-in">
        <a href="#" class="button">新規登録</a>
      </div>
      <!-- ログインしていたら以下を表示 -->
      <div class="log-out">
        <a href="#" class="button">ログアウト</a>
      </div>
      <div class="tweet-button">
        <div class="tweet">
          <a href="#">投稿する</a>
        </div>
      </div>
    </div>
  </header>

  <div class="contents">
    <div class="top-content">
      <a href="#" class="link-logo">log-in</a>
    </div>

    <div class="search-content">
      <form>検索フォーム</form>
    </div>

    <div class="middle-content">
      <div class="sound-tweet">
        <div class="user-name">
          ユーザーの名前
        </div>
        <div class="sound-explain">
          サウンドの説明
        </div>
        <div class="favo">★</div>
      </div>
      <div class="sound-file">
        <audio class="audio-file">オーディオファイル</audio>
      </div>
    </div>

  </div>

</body>
</html>