/* ↓DMコンテンツ全体 */
.dm_contents{
  /* background-color: purple; */
  padding-top: 80px;

  display: flex;
  justify-content: center;

}


/* ↓DM先リスト部分 */
.dm_list{
  border: solid 5px whitesmoke;
  width: 400px;
  height: 100vh;
  background-color: rgb(106, 107, 107);
}
.dm_friend_search{
  background-color: blue;
}
.dm_search_text{
  width:300px;
}
.dm_search_submit{}
.dm_new{
  background-color: brown;
  padding: 10px;
  font-size: 20px;
}
.dm_friend_content{
  background-color: rgb(88, 88, 88);
  margin: 5px 0 5px 5px;
  display: flex;
}
.dm_friend_icon{
  background-color: chartreuse;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dm_friend_name{
  margin: 0 10px 0 5px;
  /* background-color: coral; */
}
.dm_friend_last_time{
  margin-left: 20px ;
  /* background-color: royalblue; */
}


/* ↓メッセージ部分 */
.dm_messages{
  width: 600px;
  height: 100vh;
  background-color: darkkhaki;
}
.dm_message_right{
  display: inline-block;
  background-color: tomato;
  padding: 5px;
  border-radius: 30px 30px 0 30px;
}
.dm_message_left{
  display: inline-block;
  background-color: tomato;
  padding: 5px;
  border-radius: 30px 30px 30px 0;
}

.dm_message_me{
  text-align: right;
  margin: 10px 10px;
}
.dm_message_you{
  margin: 10px 10px;
}

.dm_message_time{
  /* background-color: darkorange; */
}
.dm_message_input{
  background-color: skyblue;
  height: 60px;
  width: 590px;
  padding: 5px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.dm_message_text{
  width: 400px;
  height: 40px;
}
.dm_message_submit{
  width: 60px;
  height: 30px;
}