.mypage_edit_contents{
  background-color: aqua;
  padding: 100px ;
  display: flex;
  justify-content: center;
}
.mypage_edit_content{
  background-color: darksalmon;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage_edit_title{
  background-color: darkslateblue;
}
.mypage_edit_info{
  background-color: blueviolet;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage_edit_field{
  margin: 20px;
  text-align: center;
}
.mypage_edit_icon{background-color: burlywood;}
.mypage_edit_bg{background-color: chartreuse;}

.mypage_edit_nickname{
  background-color: cornflowerblue;
  height: 25px;
  width: 300px;
}

.mypage_edit_profile{
  background-color: darkolivegreen;
  height: 200px;
  width: 400px;
}

.mypage_edit_submit{
  height: 60px;
  width: 100px;
}

.mypage_edit_back_button{
  background-color: rgb(32, 30, 26);
}