.mypage_content{

  padding-top: 100px;

  margin: auto;
  /* background-color: burlywood; */
}

.mypage_header{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;

  /* background-color: rgb(130, 139, 0); */
}

.mypage_info{
  background-color: darkmagenta;
  width: 500px;
  padding: 10px;
}

.mypage_icon{
  background-color: greenyellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mypage_nickname{
  font-weight: bold;
  font-size: 25px;
}

/* .mypage_edit */

.mypage_follow{
  display: inline-block;
  margin: auto 5px;
}

.mypage_follower{
  display: inline-block;
}



.mypage_menu{
  background-color:rgb(55, 10, 128);
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content:space-around;
  text-align: center;
  font-size: 20px;
  padding: 0 20px;

}
.mypage_dm{
  background-color: rgb(247, 75, 161);
}
.mypage_fav_sound{
  background-color: rgb(71, 163, 250);
}
.mypage_fav_session{
  background-color: rgb(142, 86, 255);
}


.mypage_body{
  /* background-color: dimgrey; */
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.mypage_sound{
  background-color: dimgrey;
  /* width: 600px; */
  margin-right: 20px;
}
.mypage_session{
  background-color:lightslategrey
  /* width: 600px; */
}


.mypage_sound_content{
  border: 2px solid white;
  margin: 10px 10px 10px auto;
}
.mypage_sound_user{}
.mypage_sound-title{}
.mypage_sound_exp{}
.mypage_sound_session{}
.mypage_session_posi{}



/* ↓セッション一覧部分 */
.mypage_session{}
/* .mypage_session_content{
  background-color:blueviolet;
  border: solid 2px darkgray ;
  margin: 5px;
  display: flex;
} */
.mypage_session_info{
  width: 50%;
}
.mypage_session_title{
  background-color: brown;
}
.mypage_session_exp{
  background-color: darkcyan;
}
.mypage_session_sound_name{
  margin: 10px;
}
.mypage_session_sound_control{
  width: 50%;
  background-color: cyan;
}
.mypage_session_sound_del{
  background-color: turquoise;
}
