.session_index_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.session_index_title{
}

.session_index_search{
  background-color: aqua;
  margin: 100px auto;
  
}

/* ↓コンテンツ部 */
.session_index_content{
  background-color: blueviolet;
  width: 600px;
  border: solid 2px whitesmoke;
  display: flex;
  margin-bottom: 10px;
}
.session_index_content_info{
  background-color: greenyellow;
  width: 400px;
}
.session_index_content_title{
  background-color: brown;
}
.session_index_content_sounds{
  background-color: cadetblue;
}
.session_index_sound{
  display: none;
}
.session_index_content_control{
  background-color: crimson;
  display: flex;
  justify-content: space-around;
}
.session_index_content_control_play{}
.session_index_content_control_stop{}
.session_index_content_control_pause{}