.top-margin{
  padding-top: 100px;
  text-align: center;
}

.session_show_title{}
.session_show_title_exp{}
.session_show_title_name{
  font-size: 40px;
}

.audio-play{
  height: 50px;
  width: 100px;
  margin-right: 10px;
}

.audio-pause{
  height: 50px;
  width: 100px;
  margin-right: 10px;
}

.audio-reset{
  height: 50px;
  width: 100px;
}