.sound_for_content{
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sound_for_form{
  background-color: darkgrey;
  width: 600px;
  padding: 20px;
}
.sound_for_form__field{
  padding: 10px;
}

.sound_for_form__field_title{

}

.sound_for_form__label{
}
.sound_for_form__label_main{
  color:rgb(233, 69, 40);
  font-size: 20px;
  padding: 5px;
}

.sound_for_form__field_checkbox{
  background-color: darkolivegreen;
  border: solid 2px whitesmoke;
  padding: 10px;
  margin: 10px;
}