/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSSここまで */

/* 以下からCSSを記述すること */

/* ヘッダー部分 */
header{
  background-color: #ff5500;
  height: 80px;
  width: 100vw;
  margin: 0 auto 0;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  position: fixed;
  z-index: 5;
}

.logo{
  height: 80px;
  width: 80px; 
  position: absolute;
  right: calc(50vw + 250px);
}

.header-logo{
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

.logo-title{
  height: 80px;
  width: 500px;
  position: absolute;
  right: calc(50vw - 250px);

  font-weight:bold;
  font-size: 70px;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Bungee', cursive;
}

.logo-deco{
  text-decoration: none;
  color: antiquewhite;
}

.signin-button{
  width: 300px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around;
  
}

.button{
  margin: auto;
}

.tweet-button{
  background-color: #ff5500;
  position: absolute;
  top: 80vh;
  right: 10vw;
  height: 80px;
  width: 80px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fas{
  color: whitesmoke;
}

.tweet{
  
}

.header-button{
  height: 60px;
  width: 100px;
  border: hidden; 
  background-color:rgb(53, 46, 34);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.link{
  text-decoration: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 15px;
}


/* ヘッダー部分 */

/* body部 */

body {
  /* background-image: url("/images/bg_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:  top;
  background-size: 100%; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  }


.contents{
  /* position:absolute;
  top: 80px;
  left: 10vw;
  overflow: visible; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 80vw;
  margin-top: 80px;
}

.link-logo{
  margin: auto;
}

.logo-image{
  height: 380px;
  width: 380px;
  border-radius: 100px;
  
}


.search-content{

  height: 100px;
  width: 700px;
  margin: 0 auto 0;
  text-align: center;
}

.search-input{
  width: 500px;
  height: 50px;
}

.middle-content{

  height: 100px;
  width: 700px;
  margin: 0 auto 0;
  padding: 100px 0 0 0;
}




.sound-file{
  /* visibility: hidden; */
}

.sound-content{
  border: 1px solid white;
  display: flex;
  position: relative;
  padding: 5px;
}

.sound-user-icon{
  background-color: aqua;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.sound-tweet{

}

.sound-name{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sound-main-sound{

}

.sound-title{

}

.sound-exp{
  
}

.sound-tweet-service{
  background-color: turquoise;
  position: absolute;
  right: 5px;
}

.sound-session{
  /* height: ;
  width: ; */
  border-radius: 50px;

  background-color: whitesmoke;
  /* display: flex;
  position: relative;
  top: -100px;
  left: 400px; */
}

.sound-fav{
  background-color: rgb(117, 12, 12);
}

/* body部 */

/* session 部 */
.audio-wrapping{
  margin: 50px auto 50px;
}
/* session 部 */